*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #0d0b0c;
  font-weight: 300;
  line-height: 1.6;
  background-color: #e5e5e5; }

.container {
  display: grid;
  /*grid-template-rows: min-content 85vh min-content repeat(2, min-content) min-content;*/
  grid-template-rows: min-content 75vh min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(5, [col-start] minmax(21rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end]; }

.heading-4 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

/*.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-ch;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: $color-primary;
  }
}*/
.header {
  grid-column: full-start/full-end;
  display: flex;
  padding: 3rem 12rem 3rem 4rem;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #fff; }
  .header .logo {
    margin-right: auto;
    margin-left: 8rem; }
    .header .logo__img {
      width: 10rem; }

.use-nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 27px; }
  .use-nav__attraction {
    display: flex;
    gap: 8px;
    align-items: center; }
  .use-nav__link-1 {
    color: #ff1d6c; }
  .use-nav__stay {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #ffb72c; }
  .use-nav__link-2 {
    color: #ffb72c; }
  .use-nav__transportation {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #007350; }
  .use-nav__link-3 {
    color: #007350; }

.search {
  grid-column: full-start/full-end;
  background-color: #fff;
  background-image: url(../img/page2/room.jfif);
  background-position: 50% 65%;
  background-size: cover;
  border: #fff 3rem solid;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  position: relative; }
  .search::before, .search::after {
    position: absolute;
    content: "";
    bottom: -27px;
    z-index: -1;
    width: calc(50% + 33px);
    height: 52px;
    background-color: #0d0b0c;
    opacity: 0.3;
    filter: blur(7px); }
  .search::before {
    left: -26px;
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(5deg); }
  .search::after {
    right: -26px;
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-5deg); }
  .search__contain {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 16.7vw 16.7vw 2rem;
    grid-gap: 1rem; }
  .search__icon {
    grid-column: 1/-1; }
  .search__text {
    grid-column: 1/-1;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400; }
  .search__box {
    grid-column: 1 / span 2;
    box-shadow: 0 4px 3px rgba(13, 11, 12, 0.2); }
  .search__btn {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    cursor: pointer; }
  .search__btn-1 {
    background-color: #ff1d6c; }
  .search__btn-2 {
    background-color: #ffb72c; }

.box {
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem; }

.search-result {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(5, [col-start] minmax(21rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end];
  margin-top: 9rem;
  display: none; }

.search-contain {
  grid-column: col-start 1 / col-end 5;
  display: grid;
  grid-template-columns: repeat(5, 20.6rem);
  grid-template-rows: repeat(4, 24.3rem);
  grid-gap: 0.9rem; }
  .search-contain__title {
    color: #0d0b0c;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    gap: 1.3rem;
    align-items: center; }
  .search-contain__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding: 1rem; }
  .search-contain__item {
    display: grid;
    grid-template-rows: 13.7rem min-content 1fr;
    background-color: #fff;
    margin-bottom: 3.5rem;
    position: relative; }
    .search-contain__item::before, .search-contain__item::after {
      position: absolute;
      content: "";
      bottom: -7px;
      z-index: -1;
      width: calc(50% - 12px);
      height: 16px;
      background-color: #0d0b0c;
      opacity: 0.3;
      filter: blur(5px); }
    .search-contain__item::before {
      left: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(10deg); }
    .search-contain__item::after {
      right: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-10deg); }
  .search-contain__theme {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 1.2rem; }
  .search-contain__location {
    font-size: 1.2rem;
    align-self: end;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
  .search-contain__icon {
    margin: 0 1.2rem; }

.control-item {
  grid-column: 1/-1;
  margin-bottom: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; }
  .control-item__btn {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.5rem;
    cursor: pointer; }
  .control-item__btn--forward {
    background-color: #0d0b0c; }
  .control-item__btn--backward {
    background-color: #ff1d6c; }

.footer {
  grid-column: full-start/full-end;
  background-color: #fff;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #acacac; }
