@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #0d0b0c;
  font-weight: 300;
  line-height: 1.6;
  background-color: #e5e5e5; }

.container {
  display: grid;
  /*grid-template-rows: min-content 85vh min-content repeat(2, min-content) min-content;*/
  grid-template-rows: min-content 75vh min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(5, [col-start] minmax(21rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end]; }

.init-page {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-rows: min-content repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(5, [col-start] minmax(21rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end]; }

.heading-4 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.header {
  grid-column: full-start/full-end;
  display: flex;
  padding: 3rem 12rem 0rem 4rem;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #fff; }
  .header .logo {
    margin-right: auto;
    margin-left: 8rem; }
    .header .logo__img {
      width: 10rem; }

.use-nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 27px; }
  .use-nav__attraction {
    display: flex;
    gap: 8px;
    align-items: center; }
  .use-nav__link-1 {
    color: #ff1d6c; }
  .use-nav__stay {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #ffb72c; }
  .use-nav__link-2 {
    color: #ffb72c; }
  .use-nav__transportation {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #007350; }
  .use-nav__link-3 {
    color: #007350; }

.search {
  grid-column: full-start/full-end;
  background-color: #fff;
  background-image: url(../img/search-background-2.jfif);
  background-position: center center;
  background-size: cover;
  border: #fff 2rem solid;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  position: relative; }
  .search::before, .search::after {
    position: absolute;
    content: "";
    bottom: -27px;
    z-index: -1;
    width: calc(50% + 33px);
    height: 52px;
    background-color: #0d0b0c;
    opacity: 0.3;
    filter: blur(7px); }
  .search::before {
    left: -26px;
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(5deg); }
  .search::after {
    right: -26px;
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-5deg); }
  .search__contain {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 16.7vw 16.7vw 2rem;
    grid-gap: 1rem; }
  .search__icon {
    grid-column: 1/-1; }
  .search__text {
    grid-column: 1/-1;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400; }
  .search__box {
    grid-column: 1 / span 2;
    box-shadow: 0 4px 3px rgba(13, 11, 12, 0.2); }
  .search__btn {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    cursor: pointer; }
  .search__btn-1 {
    background-color: #ff1d6c; }
  .search__btn-2 {
    background-color: #ffb72c; }

.box {
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem; }

.search-result {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(5, [col-start] minmax(21rem, 1fr) [col-end]) minmax(6rem, 1fr) [full-end];
  margin-top: 9rem;
  display: none; }
  .search-result__title {
    grid-column: col-start 1 / col-end 5;
    color: #0d0b0c;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1.3rem;
    align-items: center; }

.search-contain {
  grid-column: col-start 1 / col-end 5;
  display: grid;
  grid-template-columns: repeat(5, 20.6rem);
  grid-template-rows: repeat(4, 24.3rem);
  grid-gap: 0.9rem; }
  .search-contain__title {
    color: #0d0b0c;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    gap: 1.3rem;
    align-items: center; }
  .search-contain__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding: 1rem; }
  .search-contain__item {
    display: grid;
    grid-template-rows: 13.7rem min-content 1fr;
    background-color: #fff;
    margin-bottom: 3.5rem;
    position: relative; }
    .search-contain__item::before, .search-contain__item::after {
      position: absolute;
      content: "";
      bottom: -7px;
      z-index: -1;
      width: calc(50% - 12px);
      height: 16px;
      background-color: #0d0b0c;
      opacity: 0.3;
      filter: blur(5px); }
    .search-contain__item::before {
      left: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(10deg); }
    .search-contain__item::after {
      right: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-10deg); }
  .search-contain__theme {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 1.2rem; }
  .search-contain__location {
    font-size: 1.2rem;
    align-self: end;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-right: 1rem; }
  .search-contain__icon {
    margin: 0 1.2rem; }

.control-item {
  grid-column: 1/-1;
  margin-bottom: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; }
  .control-item__btn {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.5rem;
    cursor: pointer; }
  .control-item__btn--forward {
    background-color: #0d0b0c; }
  .control-item__btn--backward {
    background-color: #ff1d6c; }

.city {
  grid-column: col-start 1 / col-end 5;
  display: grid;
  grid-template-columns: repeat(5, 20.2rem);
  grid-template-rows: 3rem repeat(2, 10.6rem);
  grid-gap: 1.3rem;
  margin-top: 10rem;
  margin-bottom: 6rem;
  font-size: 2rem;
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
  overflow: hidden; }
  .city__title {
    justify-self: start;
    color: #0d0b0c;
    font-weight: 500; }
  .city__gallery {
    background-position: center center;
    background-size: cover;
    border: #fff 1rem solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 3px rgba(13, 11, 12, 0.2);
    cursor: pointer;
    transition: all 0.2s; }
    .city__gallery:hover {
      transform: scale(1.05); }
    .city__gallery-taipei {
      background-image: linear-gradient(rgba(13, 11, 12, 0.3), rgba(13, 11, 12, 0.3)), url(../img/台北市.jfif);
      grid-row: 2/-1; }
    .city__gallery-newtaipei {
      background-image: linear-gradient(rgba(13, 11, 12, 0.3), rgba(13, 11, 12, 0.3)), url(../img/新北市.jfif);
      grid-row: 2/3; }
    .city__gallery-taoyoun {
      background-image: linear-gradient(rgba(13, 11, 12, 0.3), rgba(13, 11, 12, 0.3)), url(../img/桃園市.jfif);
      grid-row: 3/4;
      grid-column: 2/3; }
    .city__gallery-hsinchu {
      background-image: linear-gradient(rgba(13, 11, 12, 0.3), rgba(13, 11, 12, 0.3)), url(../img/新竹市.jfif);
      grid-row: 2/-1; }
    .city__gallery-taichung {
      background-image: url(../img/台中.jfif);
      grid-row: 2/3; }
    .city__gallery-nontou {
      background-image: linear-gradient(rgba(13, 11, 12, 0.3), rgba(13, 11, 12, 0.3)), url(../img/南投.jfif);
      grid-row: 3/4;
      grid-column: 4/5; }
    .city__gallery-chiayi {
      background-image: linear-gradient(rgba(13, 11, 12, 0.3), rgba(13, 11, 12, 0.3)), url(../img/嘉義.jfif);
      grid-row: 2/-1; }

.activety {
  grid-column: col-start 1 / col-end 5;
  display: grid;
  grid-template-rows: min-content repeat(2, 23rem);
  grid-template-columns: repeat(auto-fill, 50rem);
  grid-gap: 2.1rem;
  font-size: 1.4rem;
  margin-bottom: 8.3rem;
  font-family: "Noto Sans TC", sans-serif; }
  .activety__title {
    grid-column: 1/-1;
    align-self: end;
    color: #0d0b0c;
    font-size: 2rem;
    font-weight: 500; }
  .activety__item {
    display: grid;
    grid-template-columns: 19rem 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    background-color: #fff;
    padding: 1.4rem;
    justify-items: center;
    position: relative; }
    .activety__item::before, .activety__item::after {
      position: absolute;
      content: "";
      bottom: -7px;
      z-index: -1;
      width: calc(50% - 100px);
      height: 16px;
      background-color: #0d0b0c;
      opacity: 0.3;
      filter: blur(5px); }
    .activety__item::before {
      left: 2px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(6deg); }
    .activety__item::after {
      right: 2px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-6deg); }
  .activety__img {
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .activety__theme {
    grid-column: 2/-1;
    font-size: 1.6rem;
    font-weight: 400; }
  .activety__detail {
    grid-column: 2/-1;
    grid-row: 2/3;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
    margin: 1.4rem 2.5rem 1rem 1.6rem; }
  .activety__location-box {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem; }
  .activety__location-text {
    font-weight: 400; }
  .activety__btn, .activety__btn:link, .activety__btn:visited {
    color: #ff1d6c;
    background-color: #fff;
    padding: 0.5rem 3rem;
    border: #ff1d6c solid 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s; }
  .activety__btn:hover {
    color: #fff;
    background-color: #ff1d6c;
    transform: translateY(-3px); }
  .activety__btn:active {
    transform: translateY(0); }

.food {
  grid-column: col-start 1 / col-end 5;
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: start;
  grid-gap: 1.2rem;
  font-size: 2rem;
  font-family: "Noto Sans TC", sans-serif; }
  .food__title {
    grid-column: 1/-1;
    justify-self: start;
    color: #0d0b0c;
    font-weight: 500; }
  .food__contain {
    display: grid;
    grid-template-columns: repeat(5, 20.6rem);
    grid-template-rows: repeat(2, 24.3rem);
    grid-gap: 0.9rem;
    margin-bottom: 8.5rem; }
  .food__item {
    display: grid;
    grid-template-rows: 13.7rem min-content 1fr;
    background-color: #fff;
    margin-bottom: 3.5rem;
    position: relative; }
    .food__item::before, .food__item::after {
      position: absolute;
      content: "";
      bottom: -7px;
      z-index: -1;
      width: calc(50% - 12px);
      height: 16px;
      background-color: #0d0b0c;
      opacity: 0.3;
      filter: blur(5px); }
    .food__item::before {
      left: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(10deg); }
    .food__item::after {
      right: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-10deg); }
  .food__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: #fff solid 1rem; }
  .food__theme {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 1.2rem; }
  .food__location {
    font-size: 1.2rem;
    align-self: end;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
  .food__icon {
    margin: 0 1.2rem; }

.footer {
  grid-column: full-start/full-end;
  background-color: #fff;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #acacac; }
