.food {
  grid-column: col-start 1 / col-end 5;

  display: grid;
  // grid-template-rows: min-content 16vw min-content min-content 16vw min-content min-content;
  grid-template-rows: min-content 1fr;
  align-items: start;
  grid-gap: 1.2rem;
  font-size: 2rem;
  font-family: $font-ch;

  &__title {
    grid-column: 1/-1;
    justify-self: start;
    color: $color-grey-dark;
    font-weight: 500;
  }

  &__contain {
    display: grid;
    grid-template-columns: repeat(5, 20.6rem);
    grid-template-rows: repeat(2, 24.3rem);
    grid-gap: 0.9rem;
    margin-bottom: 8.5rem;
  }

  &__item {
    display: grid;
    grid-template-rows: 13.7rem min-content 1fr;
    background-color: #fff;
    margin-bottom: 3.5rem;

    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: "";
      bottom: -7px;
      z-index: -1;
      width: calc(50% - 12px);
      height: 16px;
      background-color: #0d0b0c;
      opacity: 0.3;
      filter: blur(5px);
    }

    &::before {
      left: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(10deg);
    }

    &::after {
      right: 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0) rotate(-10deg);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: #fff solid 1rem;
  }

  &__theme {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 1.2rem;
  }

  &__location {
    font-size: 1.2rem;
    align-self: end;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__icon {
    margin: 0 1.2rem;
  }
}
